<p></p><p></p>
<%if(post.comments){
	post.comments.forEach(function(comment,index){ %>
	<div style="padding-left:4em">
		<p><img src="<%=comment.head%>" class="l_head" />
		<a href="<%=comment.website%>"><%=comment.name%></a>
		<span class="info">回复于<%=comment.time%></span>
	    </p>
	</div>
	<div style="padding-left:4em"><p><%-comment.content%></p></div>

<%})}%>
<br/><br/>
<form method="post">
    <font size="4" color="green" font-family="Microsoft YaHei">我要留言：</font><br/>
	<%if(user){%>
		姓名
		<input type="text" name="name" value="<%=user.name%>" /><p>
		邮箱
		<input type="text" name="email" value="<%=user.email%>" /><p>
		网址
		<input type="text" name="website" value="/u/<%=user.name%>" /><p>
	<%}else{%>
		姓名
		<input type="text" name="name"  /><p>
		邮箱
		<input type="text" name="email" /><p>
		网址
		<input type="text" name="website" value="http://" /><p>
	<%}%>
	<textArea name="content" type="text" rows="5" cols="80"></textArea><br/>
	<input type="submit" value="留言" />
</form>